/* CSS crunched with Crunch - http://crunchapp.net/ */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:1em;line-height:1.4;-webkit-tap-highlight-color:rgba(255, 0, 0, 0.62);}
body,button,input,select,textarea{font-family:sans-serif;}
::-moz-selection{background:#073642;color:#fff;text-shadow:none;}
::selection{background:#073642;color:#fff;text-shadow:none;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
.mod .inner{position:relative;}
.mod .bd,.mod .ft,.mod .hd{overflow:hidden;*overflow:visible;zoom:1;}
.media{overflow:hidden;*overflow:visible;zoom:1;}
.media .media-left{float:left;margin-right:14px;}
.media .img img{display:block;}
.media .media-right{float:right;margin-left:14px;}
.media .bd,.media .ft,.media .hd{overflow:hidden;*overflow:visible;zoom:1;}
body{font-family:consolas,monaco,monospace;font-size:1em;line-height:1.625em;}
h1,h2,h3,h4,h5,h6{font-family:UbuntuMono-B,consolas,monaco,monospace;}
h1,.h1{font-size:30px;line-height:52px;margin-top:52px;margin-bottom:26px;}
h2,.h2{font-size:30px;line-height:52px;margin-top:52px;margin-bottom:26px;}
h3,.h3{font-size:25.888px;line-height:26px;margin-top:26px;margin-bottom:26px;}
h4,.h4{font-size:18.541px;line-height:26px;margin-top:26px;margin-bottom:26px;}
p,ul,ol,dl,img{margin-top:0;margin-bottom:1.625em;}
small,.small,aside{font-size:0.75em;}
.font-size-default{font-size:1em;}
blockquote{font-weight:bold;}
blockquote cite{font-weight:normal;}
strong{font-weight:bold;}
em{font-weight:bold;}
@font-face{font-family:'UbuntuMono-B';src:url('/assets/themes/the-program/font/UbuntuMono-B-webfont.eot');src:url('/assets/themes/the-program/font/UbuntuMono-B-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/themes/the-program/font/UbuntuMono-B-webfont.woff') format('woff'),url('/assets/themes/the-program/font/UbuntuMono-B-webfont.ttf') format('truetype'),url('/assets/themes/the-program/font/UbuntuMono-B-webfont.svg#UbuntuMono-B') format('svg');font-weight:normal !important;font-style:normal;}.list-linear{letter-spacing:-0.31em;*letter-spacing:normal;word-spacing:-0.43em;list-style:none;padding-left:0;}.list-linear li{display:inline-block;*display:inline;zoom:1;line-height:normal;letter-spacing:normal;margin-right:16px;word-spacing:normal;vertical-align:middle;}.list-linear li:last-child{margin-right:0;}
html{color:#2d2d2d;}
#page{background:url('/assets/themes/the-program/skin/100-90-5-monochrome.png');background-repeat:repeat;background-position:0 0;background-color:#e2e2de;}
.body .unit-body{background-color:#fafafa;}
a:link{color:#2d2d2d;text-decoration:none;}
a:visited{color:#141414;text-decoration:none;}
a:hover{color:#474747;text-decoration:none;}
pre{margin-bottom:1.625em;}
pre{color:#f2f2f2;background-color:#393939;border:1px solid #393939;font-family:consolas,monaco,monospace;margin-left:0;margin-right:0;padding:1.625em;overflow:auto;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.6);}
.the-header .logo{font-family:UbuntuMono-B,consolas,monaco,monospace;margin:0;}.the-header .logo a:visited{color:#2d2d2d;}
.the-header .nav-global{text-transform:uppercase;}.the-header .nav-global .logo{text-transform:none;}
.the-header .nav-global .forkme{position:relative;top:2px;}
.unit-article header{border-bottom:5px solid rgba(21, 25, 25, 0.8);margin-bottom:21px;}.unit-article header h1{color:#2d2d2d;margin-top:0;margin-bottom:0;}
.unit-article .entry-content h2,.unit-article .entry-content h3,.unit-article .entry-content h4,.unit-article .entry-content h5,.unit-article .entry-content h6{color:#2d2d2d;}.unit-article .entry-content h2 a:link,.unit-article .entry-content h3 a:link,.unit-article .entry-content h4 a:link,.unit-article .entry-content h5 a:link,.unit-article .entry-content h6 a:link{color:#2d2d2d;border:0;}
.unit-article .entry-content h2 a:visited,.unit-article .entry-content h3 a:visited,.unit-article .entry-content h4 a:visited,.unit-article .entry-content h5 a:visited,.unit-article .entry-content h6 a:visited{color:#141414;border:0;}
.unit-article .entry-content h2 a:hover,.unit-article .entry-content h3 a:hover,.unit-article .entry-content h4 a:hover,.unit-article .entry-content h5 a:hover,.unit-article .entry-content h6 a:hover{color:#474747;border:0;}
.unit-article .entry-content:first-child h2,.unit-article .entry-content:first-child h3,.unit-article .entry-content:first-child h4,.unit-article .entry-content:first-child h5,.unit-article .entry-content:first-child h6{margin-top:0;}
.unit-article a:link{border-bottom:1px dashed #c26164;}
.unit-article a:visited{border-bottom:1px dashed #ad4346;}
.unit-article a:hover{border-bottom:1px dashed #d08688;}
.unit-article blockquote{border-left:1em solid rgba(21, 25, 25, 0.8);padding-left:1em;}.unit-article blockquote p{margin-left:0;margin-right:0;}
.unit-article ul,.unit-article ol,.unit-article dl{padding-left:0;}
.unit-article ul{list-style:square;}
.unit-article ol{list-style:decimal;}
.unit-article li h1,.unit-article dt h1,.unit-article dd h1,.unit-article li h2,.unit-article dt h2,.unit-article dd h2,.unit-article li h3,.unit-article dt h3,.unit-article dd h3,.unit-article li h4,.unit-article dt h4,.unit-article dd h4,.unit-article li h5,.unit-article dt h5,.unit-article dd h5,.unit-article li p,.unit-article dt p,.unit-article dd p,.unit-article li ul,.unit-article dt ul,.unit-article dd ul,.unit-article li ol,.unit-article dt ol,.unit-article dd ol,.unit-article li dl,.unit-article dt dl,.unit-article dd dl,.unit-article li blockquote,.unit-article dt blockquote,.unit-article dd blockquote,.unit-article li .hasGrid,.unit-article dt .hasGrid,.unit-article dd .hasGrid{margin-left:0;margin-right:0;}
.unit-article p code,.unit-article li code{padding:2px 5px;white-space:nowrap;background-color:#fff04a;}
.unit-article img{display:block;margin-left:auto;}
.unit-article img.left{margin-right:16px;}
.unit-article img.right{margin-left:16px;}
.unit-article .date-publish{margin-bottom:0;}
.unit-article .list-linear .list-head{margin-right:4px;}
.unit-article .list-category a,.unit-article .list-tag a{border:0 none;}.unit-article .list-category a:hover span,.unit-article .list-tag a:hover span{background-color:#f99157;}
.unit-article .list-category span,.unit-article .list-tag span{background-color:#e25608;padding:1px 5px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;color:white;text-transform:uppercase;margin:0 6px 0 0;display:inline-block;position:relative;vertical-align:middle;top:-2px;font-weight:bold;font-size:13px;}
.unit-article .list-category{margin-bottom:0;text-transform:capitalize;}
.unit-article .list-tag{text-transform:capitalize;}
.unit-article .comment a{border-bottom:0;}
.unit-article .unit-foot{border-top:5px solid rgba(21, 25, 25, 0.8);padding-top:1.625em;position:relative;}.unit-article .unit-foot nav ul{list-style:none;}.unit-article .unit-foot nav ul li{display:inline;}
.unit-article .unit-foot .gotop{margin-bottom:0;}
.layout-page .tag_box{background:url('/assets/themes/the-program/skin/100-90-5-monochrome.png') repeat 0 0 #999999;padding:0.8125em;list-style:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2),0 1px 0 rgba(255, 255, 255, 0.4);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.2),0 1px 0 rgba(255, 255, 255, 0.4);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.4),0 1px 0 rgba(255, 255, 255, 0.4);}.layout-page .tag_box li{display:inline;line-height:normal;vertical-align:middle;}
.layout-page .tag_box a{background-color:#99cc99;float:left;border:1px solid #448844;padding:3px 6px 3px 6px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;text-shadow:0 -1px 0 rgba(255, 255, 255, 0.4);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.2);-webkit-transition-duration:0.2s;-moz-transition-duration:0.2s;transition-duration:0.2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:bottom;}
.layout-page .tag_box a:active{-webkit-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.6);-moz-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.6);box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.6);background:#336633;border:solid #336633;}
.layout-page .tag_box a:hover{background-color:#77bb77;border:1px solid #336633;}.layout-page .tag_box a:hover span{background-color:#e1e1e1;border:1px solid #77bb77;}
.layout-page .tag_box span{background-color:#fafafa;border:1px solid #99cc99;padding:1px 5px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;color:#1a1a1a;display:inline-block;position:relative;vertical-align:middle;top:-2px;font-weight:bold;font-size:13px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.2);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.2);}
.the-footer a:link{color:#c26164;border:0;}
.the-footer a:visited{color:#ad4346;border:0;}
.the-footer a:hover{color:#d08688;border:0;}
.the-footer ul{list-style:square;padding-left:1em;}
.the-footer address{font-style:normal;}
.the-footer .license{clear:both;}.the-footer .license p{margin-bottom:0;}
.colophon{clear:both;background-color:#000;padding:15px;}.colophon p{color:rgba(250, 250, 250, 0.8);text-align:center;margin:0;}
.the-header .unit-head{padding:26px;}.the-header .unit-head .nav-global .logo{display:block;width:auto;}.the-header .unit-head .nav-global .logo a{display:block;font-size:30px;line-height:52px;padding-bottom:26px;}
.body .unit-body{border-top:1px solid rgba(255, 255, 255, 0.6);padding:26px;}
.the-footer{background-color:#1a1a1a;background-color:rgba(21, 25, 25, 0.8);color:#fafafa;color:rgba(250, 250, 250, 0.8);padding:26px;}.the-footer a:link{color:#c26164;border:0;}
.the-footer a:visited{color:#ad4346;border:0;}
.the-footer a:hover{color:#d08688;border:0;}
.the-footer h4{margin-top:0;}
@media only screen and (min-width:320px) and (max-width:767px){img{max-width:100%;}}@media only screen and (min-width:768px){.the-header .unit-head{padding:0;}.the-header .unit-head .nav-global li{float:left;border:1px solid rgba(0, 0, 0, 0.05);border-width:0 1px 0 0;}.the-header .unit-head .nav-global li a,.the-header .unit-head .nav-global li div{display:block;padding:26px;height:26px;} .the-header .unit-head .nav-global li a:hover{background-color:#fff04a;color:#474747;} .the-header .unit-head .nav-global li:nth-child(2){border-width:0 1px;} .the-header .unit-head .nav-global li:last-child{border-width:0;} .the-header .unit-head .nav-global .logo{border-bottom:1px solid rgba(0, 0, 0, 0.05);border-right:none 0;display:block;width:100%;}.the-header .unit-head .nav-global .logo a{font-size:30px;line-height:normal;} .the-header .unit-head .nav-global .logo a:hover{background-color:transparent;}}@media only screen and (min-width:1280px){.the-header .unit-head .nav-global .logo{border-bottom:0 none;display:block;width:auto;}.the-header .unit-head .nav-global .logo a{line-height:18px;margin-bottom:0;padding-left:52px;} .body{float:left;width:100%;margin-right:-450px;}.body .unit-body{border-top:0 none;margin-right:450px;padding:26px 52px;} .the-footer{background-color:transparent;color:#2d2d2d;position:relative;top:auto;display:block;float:left;padding:0 0 0 26px;width:420px;}}@media only screen and (min-width:1410px){.the-header{float:left;width:19%;}.the-header .unit-head{padding:26px;}.the-header .unit-head .nav-global li{float:none;border:none;}.the-header .unit-head .nav-global li a,.the-header .unit-head .nav-global li div{display:block;padding:2px 5px;height:auto;} .the-header .unit-head .nav-global li:nth-child(2){border-width:0;} .the-header .unit-head .nav-global .logo{border-bottom:none 0;display:list-item;width:auto;}.the-header .unit-head .nav-global .logo a{display:block;font-size:30px;line-height:52px;margin-bottom:26px;padding-left:5px;position:relative;top:auto;} .body{border-left:1px solid rgba(0, 0, 0, 0.2);-webkit-box-shadow:#ffffff 0px 0px 2px;-moz-box-shadow:#ffffff 0px 0px 2px;-o-box-shadow:#ffffff 0px 0px 2px;float:left;width:81%;margin-right:-450px;}.body .unit-body{border-right:1px solid rgba(0, 0, 0, 0.2);-webkit-box-shadow:#ffffff 0px 0px 2px;-moz-box-shadow:#ffffff 0px 0px 2px;-o-box-shadow:#ffffff 0px 0px 2px;margin-right:450px;padding:26px 52px;min-height:1050px;} .the-footer{position:relative;top:auto;display:block;float:left;padding:26px 0 0 26px;width:420px;}.the-footer h4{font-size:30px;line-height:52px;margin-top:0;margin-bottom:26px;}}pre .c{color:#999999;font-style:italic;}
pre .err{color:#a61717;background-color:#e3d2d2;}
pre .g{color:#d0d0d0;}
pre .k{color:#6ab825;font-weight:bold;}
pre .l{color:#d0d0d0;}
pre .n{color:#d0d0d0;}
pre .o{color:#d0d0d0;}
pre .x{color:#d0d0d0;}
pre .p{color:#d0d0d0;}
pre .cm{color:#999999;font-style:italic;}
pre .cp{color:#cd2828;font-weight:bold;}
pre .c1{color:#999999;font-style:italic;}
pre .cs{color:#e50808;font-weight:bold;background-color:#520000;}
pre .gd{color:#d22323;}
pre .ge{color:#d0d0d0;font-style:italic;}
pre .gr{color:#d22323;}
pre .gh{color:#ffffff;font-weight:bold;}
pre .gi{color:#589819;}
pre .go{color:#cccccc;}
pre .gp{color:#aaaaaa;}
pre .gs{color:#d0d0d0;font-weight:bold;}
pre .gu{color:#ffffff;text-decoration:underline;}
pre .gt{color:#d22323;}
pre .kc{color:#6ab825;font-weight:bold;}
pre .kd{color:#6ab825;font-weight:bold;}
pre .kn{color:#6ab825;font-weight:bold;}
pre .kp{color:#6ab825;}
pre .kr{color:#6ab825;font-weight:bold;}
pre .kt{color:#6ab825;font-weight:bold;}
pre .ld{color:#d0d0d0;}
pre .m{color:#3677a9;}
pre .s{color:#ed9d13;}
pre .na{color:#bbbbbb;}
pre .nb{color:#24909d;}
pre .nc{color:#447fcf;text-decoration:underline;}
pre .no{color:#40ffff;}
pre .nd{color:#ffa500;}
pre .ni{color:#d0d0d0;}
pre .ne{color:#bbbbbb;}
pre .nf{color:#447fcf;}
pre .nl{color:#d0d0d0;}
pre .nn{color:#447fcf;text-decoration:underline;}
pre .nx{color:#d0d0d0;}
pre .py{color:#d0d0d0;}
pre .nt{color:#6ab825;font-weight:bold;}
pre .nv{color:#40ffff;}
pre .ow{color:#6ab825;font-weight:bold;}
pre .w{color:#666666;}
pre .mf{color:#3677a9;}
pre .mh{color:#3677a9;}
pre .mi{color:#3677a9;}
pre .mo{color:#3677a9;}
pre .sb{color:#ed9d13;}
pre .sc{color:#ed9d13;}
pre .sd{color:#ed9d13;}
pre .s2{color:#ed9d13;}
pre .se{color:#ed9d13;}
pre .sh{color:#ed9d13;}
pre .si{color:#ed9d13;}
pre .sx{color:#ffa500;}
pre .sr{color:#ed9d13;}
pre .s1{color:#ed9d13;}
pre .ss{color:#ed9d13;}
pre .bp{color:#24909d;}
pre .vc{color:#40ffff;}
pre .vg{color:#40ffff;}
pre .vi{color:#40ffff;}
pre .il{color:#3677a9;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
hr{-moz-box-sizing:content-box;}
.clearfix:before,.clearfix:after,.cf:before,.cf:after,.hasGrid:before,.hasGrid:after,.unit-inner:before,.unit-inner:after,.tag_box:before,.tag_box:after,#page:before,#page:after{content:"";display:table;}
.clearfix:after,.cf:after,.hasGrid:after,.unit-inner:after,.tag_box:after,#page:after{clear:both;}
.clearfix,.cf,.hasGrid,.unit-inner,.tag_box,#page{*zoom:1;}
.left{*display:inline;float:left;}
.right{*display:inline;float:right;}
