<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
            <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
              <a class="extra" href="{{ site.url }}">home</a>
              {% for cat in site.categories %}
              <a class="extra" href="{{ site.url }}/{{ cat[0] }}">
                  {{ cat[0] }}</a>
              {% endfor %}
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <br/>
                <a rel="license"
                href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img
                alt="Creative Commons License" style="border-width:0"
                src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
                <br />
                This site is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                    Creative Commons Attribution 3.0 Unported License</a>.
                You can suggest changes
                <a href="https://github.com/dlab-berkeley/python-berkeley/tree/gh-pages">via
                GitHub</a>.
                It is maintained by the <a href="http://dlab.berkeley.edu">D-Lab</a>
                on behalf of the Berkeley python community.
              </div>
              <div class="contact">
                <p>
                  <a href="http://dlab.berkeley.edu">D-Lab</a> | 
                  University of California, Berkeley | 350 Barrows Hall Berkeley, CA 94720-3030 <br />
                  <a href="mailto:dlab@berkeley.edu?Subject=Python Resources">dlab@berkeley.edu</a><br />
                  <a href="http://github.com/dlab-berkeley/">github.com/dlab-berkeley</a><br />
                  <a href="http://twitter.com/DLabAtBerkeley/">twitter.com/DLabAtBerkeley</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
