---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <article>
        {{content}}
      </article>
    </div>
  </div>
</div>
<p><br/></p>
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area ">
	  <div class="post-list-header" post-cate="All">
	  Upcoming Events
	  </div>
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
          {% assign curDate = site.time | date: '%s' | minus: 12000 | date: '%s' %}
          {% for post in site.posts reversed %}
            {% assign postStartDate = post.date | date: '%s' %}
            {% if postStartDate >= curDate %}
              <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
                <h2>
                {{ post.title }}
                </h2>
                <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
              </a>
              {% endif %}
          {% endfor %}
        </div>
        {% for category in site.categories %}
          {% if category contains 'events' %}
          {% else %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts reversed %}
                {% if post.url %}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        Categories
      </div>
      <a href="javascript:;" class="categories-list-item" cate="All">
        Upcoming Events<span class="my-badge"></span>
      </a>
      {% for category in site.categories %}
          {% if category contains 'events' %}
          {% else %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
