---
layout: default
---
<p>Next Meeting: <strong>{{ site.py4sci }}</strong>.<br>
Meetings take place at the <a href="http://dlab.berkeley.edu">D-Lab</a> from 5-7pm.</p>

<p>These meetings are announced on the 
<a href="https://calmail.berkeley.edu/manage/list/listinfo/py4science@lists.berkeley.edu">
    py4science mailing list</a>.
Sign up there to stay tuned. There's also a
<a href="https://www.google.com/calendar/embed?src=moeh9ilpdjicogfaav9jtplh28%40group.calendar.google.com&ctz=America/Los_Angeles">
    calendar</a></p>

<!-- Content using this template should generally put an <hr> (two hyphens in
     markdown) at the top -->
{{ content }}
