---
layout: default
---
<p>Next py4science meeting: <strong>{{ site.py4sci }}, from 5-7pm.</strong>.<br>

The <a href="/py4science/py4data.html">py4data</a> and py4text working groups
are currently evaluating future meeting times!<br>
All meetings take place at the <a
    href="http://dlab.berkeley.edu/location">D-Lab</a></p>
<p>
The D-Lab also manages signup and descriptions for
<a href="http://dlab.berkeley.edu/training/python-data-analysis">py4data</a>,
and
<a href="http://dlab.berkeley.edu/training/python-text">py4text</a>
</p>
<p>These meetings are announced on the
<a href="https://calmail.berkeley.edu/manage/list/listinfo/py4science@lists.berkeley.edu">
    py4science mailing list</a>.
Sign up there to stay tuned. There's also a
<a href="https://www.google.com/calendar/embed?src=moeh9ilpdjicogfaav9jtplh28%40group.calendar.google.com&ctz=America/Los_Angeles">
    calendar</a></p>

<!-- Content using this template should generally put an <hr> (two hyphens in
     markdown) at the top -->
{{ content }}
